# keys
keys
*.json

# data dirs
data
DATA

#--dest_path
dest_path
# exclude all files ending with csv, parquet in gitignore:
*.csv
*.parquet
*.db
*.pkl
*.bin
# exclude all hidden files in gitignore:
.*

# artifacts
artifacts
mlartifacts
mlruns

.DS_Store

# start server command