[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.5.0"
flask = "*"
gunicorn = "*"
mlflow = "==2.13.1"
boto3 = "*"
"google.cloud" = "*"
"google.auth" = "*"
google-cloud-storage = "*"
packaging = "==24.0"
psutil = "==5.9.8"

[dev-packages]
requests = "*"

[requires]
python_version = "3.9"
